<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Akazoo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9782811F1ECADD24009EA1FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>978281361ECADD24009EA1FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>978281411ECADD25009EA1FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
